services:
  whoami:
    image: "traefik/whoami"
    restart: unless-stopped
    ports:
      - 9999:80
  jellyfin:
    image: jellyfin/jellyfin:latest
    restart: unless-stopped
    ports:
      - 8096:8096
  mc:
    image: itzg/minecraft-server:latest
    pull_policy: daily
    tty: true
    stdin_open: true
    ports:
      - "25566:25565"
    environment:
      EULA: "TRUE"
      VERSION: "1.21.10"
