services:
  whoami:
    image: "traefik/whoami"
    restart: unless-stopped
    ports:
      - 9999:80
  jellyfin:
    image: jellyfin/jellyfin:latest
    restart: unless-stopped
    ports:
      - 8096:8096
